* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background: linear-gradient(180deg, #000428 0%, #004e92 50%, #1e3c72 100%);
  background-size: 200% 200%;
  animation: gradient-diagonal 12s ease alternate infinite;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keys {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid rgb(255, 131, 30);
  padding: 1.5rem 1.5rem;
  border-radius: 0.3rem;
  margin: 1rem;
  width: 8rem;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
  color: white;
  font-size: 1.2rem;
  text-transform: lowercase;
  transition: all 0.7s ease;
}
kbd {
  /* display: block; */
  font-size: 3rem;
}
.playing {
  transform: scale(1.1);
  background-color: rgb(227, 227, 227, 0.5);
  color: #b9cef6;
  text-shadow: 0 0 0.3rem #b9cef6;
  border: 4px solid #b9cef6;
  text-transform: capitalize;
}
